# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

**/node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

.vagrant

# Editor directories and files
.vscode/*
!.vscode/extensions.json
__pycache__
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
**/launch.json
**/structures.json
# steamapi/steamapi/.vscode/launch.json
# steamapi/steamapi/structures.json
**/certificates
*.local.sh
helm/steamscrapercharts/kind-config.yaml
